<html>

<head>
	<title>Sample Angular App</title>
	<link rel="stylesheet" href='/css/public/styles/shopping-cart.css' />
	<script src="/scripts/angular.js"></script>
	<script src="/scripts/highcharts.js"></script>
	<script src="/scripts/underscore.js"></script>
	<script src="/controllers/shopping-cart/app.js"></script>
	<script src="/controllers/shopping-cart/shoppingCartController.js"></script>


</head>

<body ng-app='shoppingCart' ng-controller="ShoppingCartController as vm">

	<div class="title-bar">
	</div>

	<div class="cart-container">
		<div class="items-gallery">

			<div class="product" ng-repeat="product in vm.products">
				<span class="product-title"> {{ product.name }} </span>
				<span class="rating"> {{ product.averageRating }} </span>
				<span> {{ product.price | currency:"$":0 }} </span>
				<img ng-src="{{ product.imageUrl }}" />
				<label>
                    Quantity :
				    <input type="number" name="input" ng-model="product.quantity" min="0" max="99" required>
                </label>

				<button ng-click="vm.addItemToCart(product)">Add To Cart </button>
			</div>

		</div>

		<div class="shopping-cart">

			<div class="cart-items">

				<div class="product-summary" ng-repeat="product in vm.cartItems">
                    <span> {{ product.name }} </span>
                    <span> {{ product.quantity }} </span>
                </div>

			</div>

			<span class="total"> {{ vm.total | currency:"$":0 }} </span>

		</div>
	</div>

</body>

</html>