<html>

<head>
  <title>Sample Angular App</title>
  <link rel="stylesheet" href='/stylesheets/style.css' />
  <script src="/scripts/angular.js"></script>
  <script src="/scripts/highcharts.js"></script>
  <script src="/controllers/app.js"></script>
  <script src="/controllers/sampleController.js"></script>
  <script src="/controllers/chartController.js"></script>
  <script src="/directives/highchartsDirective.js"></script>
</head>

<body ng-app='helloAngular' ng-controller="SampleController as vm" >
  <h2>
    {{ vm.greeting }}
  </h2>

  <div ng-controller="ChartController as vm">

    <div id="chart-container">
     
    </div>

    <hc-chart options="vm.chartOptions">Placeholder for generic chart</hc-chart>

  </div>

</body>

</html>