$cool-blue : #00abec;
$content-width: 960px;
$content-padding: 10px;
$light-gray: #dedede;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body{
    font-family: 'Segoe UI','Segoe WP',Tahoma,Arial;
}

.center {
    margin: 0px auto;
}

.title-bar {

    @extend .center;    
    background-color : $cool-blue;
    width: $content-width;
    height: 50px;

}

.cart-container {
    @extend .center;
    @include clearfix;
    padding: $content-padding;
    width: $content-width;    

    .items-gallery {
        width: 738px;
        height: 500px;
        float: left;

        .product {
            width: 100px;
            height: 100px;
            border: 1px solid $cool-blue;
            border-radius: 4px;
            background-color: $light-gray;
            float: left;
            margin-right: 10px;
        } 

    }

    .shopping-cart {
        padding: $content-padding;
        width: 200px;
        height: 350px;
        border: 1px solid $cool-blue;
        
        float: left;
    }
}

