$cool-blue : #00abec;
$content-width: 960px;
$content-padding: 10px;
$light-gray: #eee;
$dark-gray: #505050;
$border-radius: 4px;

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body{
    font-family: 'Segoe UI','Segoe WP',Tahoma,Arial;
}

.center {
    margin: 0px auto;
}

.title-bar {

    @extend .center;    
    background-color : $cool-blue;
    width: $content-width;
    height: 50px;
    border-radius: $border-radius;
}

.cart-container {
    @extend .center;
    @include clearfix;
    padding: $content-padding;
    width: $content-width;    

    .items-gallery {
        width: 738px;
        height: 500px;
        float: left;

        .product {
            padding: 5px;
            width: 200px;
            height: 200px;
            border: 1px solid $cool-blue;
            border-radius: $border-radius;
            background-color: $light-gray;
            color: $dark-gray;
            float: left;
            margin: 10px 5px;

            span {
                display: block;
                margin: 5px 0px;   

                &.product-title {
                    font-weight: bold;                    
                }

                    
            }

            label {
                display: block;
            }

            img { 
                width: 64px;
                height: 64px;
            }
        } 

    }

    .shopping-cart {
        padding: $content-padding;
        width: 200px;
        height: 350px;
        border: 1px solid $cool-blue;
        border-radius: $border-radius;
        float: left;
    }
}

